# Terraform's temp dir
**/.terraform

# Azure service principal keys
certs/**
**/service-principal.*
*.crt
*.csr
*.key
*.pfx

# Secret variables
**/secrets.tfvars

# TF State
**/terraform.tfstate
**/terraform.tfstate.backup

# Default images_path
images/*

# SSH keys, just in case
mbp2019
mbp2019.pub
id_rsa
id_rsa.pub

# Ansible inventory
inventory

# Ansible playbook retries
*.retry

# IDE files
eve-ng-azure.iml
.idea
